<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
</head>
<body>
    <h1>Web App Title</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
     {% endif %} 
  {% endwith %} 

{% if session %}
    <h2>Sign-Out</h2>
    <p><a href="/sign-out">Sign Out</a></p>
{% endif %}

    {% block content %}BODY CONTENT GOES HERE{% endblock %}
    <!-- <footer>Copyright 2015 Ubermelon</footer> -->
</body>
</html>