<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
     <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

</head>
<body>
  <!-- <div class="container"> -->
    <h1>Web App Title</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul id="flash" class="flashes">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
     {% endif %} 
  {% endwith %} 

<!-- I am only showing sign out button if user is already signed in -->
{% if session %}
    <h2>Sign-Out</h2>
    <p><a href="/sign-out">Sign Out</a></p>
{% endif %}

    {% block content %}

    BODY CONTENT GOES HERE

    <!-- <script src="https://maxcdn.bootstcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

    {% endblock %}
    <!-- <footer>Copyright 2015 Ubermelon</footer> -->
  <!-- </div> -->
</body>
</html>