{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <h1>This is the homepage</h1>
    
<!-- Form that connects users to a notebook -->
<!-- if notes exist show them, if not show me form2 -->
    <form id="connection-form" action="/connection" method="POST">
        <div class="form-group">
            <label for="email-connection">
                Email of person you want to connect with:
                <input id="email-connection" type="email" name="email" placeholder="example@email.com" required>
            </label>
        </div>
        <div>
            <label for="add-title">
               Add a title(optional):
                <input id="add-title" type="text", name="title">
            </label>
        </div>
        <div>
            <input id="connect-btn" type="submit" value="Connect">
        </div>
    </form>
    <br>
    <script src="/static/js/connect-users.js"></script>

<!-- Form for note processing -->
    <form id="note-form" action="/new-note" method="POST">
        <div>
            <textarea id="note-field" cols="40" rows="4" type="text", name="note" placeholder="type your note..."></textarea>
        </div>
        <div>
            <input id="note-btn" type="submit" value="Send">
        </div>
    </form>
    <br>
<!-- notes from /homepage route return a list of note objects-->
<!-- if there are notes, loop through the list -->
    <div class="notebook">
    {% if notes %}
     {% for note in notes %}
        <div> {{ note.user.first_name }} says {{ note.note }}</div>
     {% endfor %}
    {% endif %}
    </div>

    <script src="/static/js/display-notes.js"></script>
{% endblock %}
