{% extends 'base.html' %}
{% block content %}

    <h1>This is the homepage</h1>
    
<!-- Form that connects users to a notebook -->
    <form action="/homepage" method="POST">
        <div class="form-group">
            <label>
                Email of person you want to connect with:
                <input type="email" name="email" placeholder="example@email.com" required>
            </label>
        </div>
        <div>
            <label>
               Add a title(optional):
                <input type="text", name="title">
            </label>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    <br>

<!-- Form for note processing -->
    <form action="/process-note" method="POST" id="send-note">
        <div>
            <textarea cols="40" rows="4" type="text", name="note" placeholder="type your note..."></textarea>
        </div>
        <div>
            <input type="submit" value="Send">
        </div>
    </form>
{% endblock %}