{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    
    <div>
        <h1>This is the homepage</h1>
    </div>

    <div>
        <a href="/favorites">Favorites</a>
    </div>
    <br>

<!-- Form that connects users to a notebook -->
<!-- if notes exist show them, if not show me form2 -->
    {% if not notes %}
    <form id="connection-form" action="/connection" method="POST">
        <div class="form-group">
            <label for="email-connection">
                Email of person you want to connect with:
                <input id="email-connection" type="email" name="email" placeholder="example@email.com" required>
            </label>
        </div>
        <div>
            <label for="add-title">
               Add a title(optional):
                <input id="add-title" type="text", name="title">
            </label>
        </div>
        <div>
            <input id="connect-btn" type="submit" value="Connect">
        </div>
    </form>
    <br>
    {% endif %}


<!-- Form for note processing -->
    <form id="note-form" action="/new-note" method="POST">
        <div>
            <textarea id="note-field" cols="40" rows="4" type="text", name="note" placeholder="type your note..."></textarea>
        </div>
        <div>
            <input id="note-btn" class="btn btn-primary" type="submit" value="Send">
        </div>
    </form>
    <br>

<!-- notes from /homepage route return a list of note objects-->
<!-- if there are notes, loop through the list -->
    <div class="notebook">
    {% if notes %}
        {% for note in notes %}
            <div >{{ note.user.first_name }} says {{ note.note }}</div>
            <div>{{ note.posted_At.month }}/{{ note.posted_At.day }}/{{ note.posted_At.year }}</div>

            {% if note.note_id in favorite_note_ids %}
                <i id="{{ note.note_id }}" class="fa fa-heart" aria-hidden="true"></i>
            {% else %}
                <i id="{{ note.note_id }}" class="fa fa-heart-o" aria-hidden="true"></i>
            {% endif %}

        {% endfor %}
    {% endif %}
    <!-- <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> -->
    </div>
    <!-- figure out how to add a favorite button to current note posted -->
    <!-- <button id="favorite-btn" class="favorite-btn">&hearts; Favorite</button> -->

    <script src="/static/js/notes.js"></script>

{% endblock %}
