{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}

<!-- Sign In Form -->
    <h2>Sign In</h2>

    <form action="/process-sign-in" method="POST">
        <div class="form-group">
            <label for="email">
                Email:
                <input id="email" type="email" name="email" placeholder="example@email.com" required>
            </label>
        </div>
        <br>
        <div class="form-group">
            <label for="password">
                Password:
                <input id="password" type="password" name="password" required>
            </label>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" value="Sign In">
        </div>
    </form>

    <p>Don't have an account yet? <a href="/sign-up">Sign up here</a></p>

{% endblock %}